.cards{
    display: flex;
    gap: 20px;
    overflow-x: scroll;
}
.cards::-webkit-scrollbar{
    display: none;
}
.card-list{
    text-decoration: none;
}
.card-list img{
    width: 150px;
    border-radius: 8px;
}
.card-list p{
    color: white;
    font-size: 0.8rem;

}
.title-card .title{
    margin-bottom:9px ;
}
