.cards{
    width: 100%;
    display: flex;
    gap: 20px;
    overflow-x: scroll;
}
.cards::-webkit-scrollbar{
    display: none;
}
.card-list img{
    width: 150px;
    border-radius: 8px;
}
.card-list p{
    font-size: 14px;

}
.title-card .title{
    margin-bottom:9px ;
}
