.navbar{
    padding: 20px 6%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 14px;
    z-index: 1;
    cursor: pointer;
    transition: all 0.6s;
}
.dark-nav{
    background: #000000ee;

}
.nav-list{
    list-style: none;
}
.nav-logo{
   
    width: 90px;
}
.left-nav{
    display: flex;
    gap: 18px;
    align-items: center;
}
.left-nav ul{
    display: flex;
    gap: 15px;
}
.right-nav{
    ul{
        display: flex;
        gap: 15px;
        align-items: center;
    }
}
.right-nav .icons{
    width: 20px;
}

.navbar-right{
    display: flex;
    gap: 20px;
    align-items: center;
    z-index: 4;
}
.navbar-right .icons{
    width: 20px;
    cursor: pointer;
}
.navbar-right .profile{
    width: 35px;
}
.navbar-profile{
    gap: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;
}
.navbar-right .dropdown{
    position: absolute;
    top: 100%;
    right: 0;
    width: max-content;
    padding: 12px 20px;
    border-radius: 7px;
    background-color: #191919;
    display: none;
}
.navbar-profile:hover .dropdown{
    display: block;
    margin-top: 1px;
}
@media (max-width:860px){
    .left-nav ul{
        display: none;
    }
    .navbar-right{
        gap: 10px;
        font-size: small;
    
    }
    .navbar-right .icons{
        width: 15px;
    }
}
@media (max-width:1260px){
    
}